<div class="container">
<h1 class="text-center"> <%= @list.name %></h1>

<%# <div class="carousel">
  <ul class="carousel__list">
    <li class="carousel__item" data-pos="-2">1</li>
    <li class="carousel__item" data-pos="-1">2</li>
    <li class="carousel__item" data-pos="0">3</li>
    <li class="carousel__item" data-pos="1">4</li>
    <li class="carousel__item" data-pos="2">5</li>
    <li class="carousel__item" data-pos="2">5</li>
  </ul>
</div> %>



  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-12 align-self-center">
        <div class="movie-card" data-aos="fade-up" style="background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.83)),
          url('<%= movie.poster_url %>');">
          <div class="vertical-flex">
            <div class="pseudo-element"></div>
            <div><h2 class='card-title'><%= movie.title %></h2></div>
            <div><i class="fas fa-star"></i> <%= movie.rating %></div>
            <div><p class='card-overview'><%= movie.overview %></p></div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="col-12 align-self-center">
      <%= link_to new_list_bookmark_path(@list), :action => 'go' do %>
        <div class="movie-card" data-aos="fade-up" style="background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.83));">
          <div class="vertical-flex">
            <div><h2 class='add-movie text-center'>Add Movie</h2></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
